<!DOCTYPE html>
<html>
  <head>
    <title>SPeCTRUM-X</title>
  </head>

  <!-- Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Blog Template" />
  <meta name="author" content="PL, XY, JL, EH" />

  <!-- Theme CSS -->
  <link
    id="theme-style"
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='theme-1.css')}}"
  />

  <body>
	<h2 class="center">     Assignment Due Date</h2>
	<img class="center" src="{{ url_for('static', filename='January.png')}}" alt="image">
	
	<hr>
    <header class="header text-center">	    
	    <h1 class="blog-name pt-lg-4 mb-0"><a href="index.html">Anthony's Blog</a></h1>
        
	    <nav class="navbar navbar-expand-lg navbar-dark" >
           
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
		
			</button>
			
			
			<div id="navigation" class="collapse navbar-collapse flex-column" >
				<div class="profile-section pt-3 pt-lg-0">
				    <img class="profile-image mb-3 rounded-circle mx-auto" src="{{ url_for('static', filename='profilepic.png')}}" alt="image" >			
					
					<div class="bio mb-3">Hi, my name is Tan Jun Long. I love to eat sausages.</div><!--//bio-->
					<ul class="social-list list-inline py-3 mx-auto">
			            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
			            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
			            <li class="list-inline-item"><a href="#"><i class="fab fa-github-alt fa-fw"></i></a></li>
			            <li class="list-inline-item"><a href="#"><i class="fab fa-stack-overflow fa-fw"></i></a></li>
			            <li class="list-inline-item"><a href="#"><i class="fab fa-codepen fa-fw"></i></a></li>
			        </ul><!--//social-list-->
			        <hr> 

		</nav>
    </header>

    <div class="main-wrapper">
	    <section class="blog-list px-3 py-5 p-md-5">
		    <div class="container">
			   
				{% for subject in subjects%}
			    <div class="item mb-5">
				    <div class="media">
					    <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="{{ url_for('static', filename='profilepic.png')}}" alt="image">
					    <div class="media-body">
						    <h3 class="title mb-1"><a href="blog-post.html">{{ subject.CourseCode }} {{ subject.CourseName }}</a></h3>
							{% set subjectLoop = loop %}
							{% for subTopic in subject.subTopic %}
							<div class="info"><h6>{{ subTopic.name }}</h6></div>
							<div class="info">Type : {{ subTopic.type }}</div>
							{% if subTopic['Submission status'] %}
							<div class="info">Submission Status : {{ subTopic['Submission status'] }}</div>
							{% if "No attempt" in subTopic|string %}
								{% if subTopic['Due date'] %}
									
										<div class="info">Due Date : {{ subTopic['Due date'] }}</div>
										<p id="demo{{loop.index0|string}}{{subjectLoop.index0|string}}"></p>
								
								{% endif %}
							{% endif %}
							{% endif %}
							<a class="link-to-spectrum" href="{{ subTopic.link }}">{{ subTopic.link }} &rarr;</a>
							{% endfor %}
					
						</div><!--//media-body-->
						
						<img class="mr-3 img-fluid1 post-thumb1 d-none d-md-flex" src="{{ url_for('static', filename='my_plot'+loop.index0|string+'.png')}}" alt="image">
					</div><!--//media-->
					
				
				</div><!--//item-->	
			
				{% endfor %}
			</div>
			
			
	    </section>
	</div><!--//main-wrapper-->

	{% set ns = namespace(found=-1) %}

{% for subject in subjects%}
	{% set subjectLoop = loop %}
	{% for subTopic in subject.subTopic %}
		{% set subjectLoop1 = loop %}
		{% if "No attempt" in subTopic|string %}
			{% if subTopic['Due date'] %}

				{% set ns.found = ns.found + 1 %}
				
 
			<script>
			
			// Set the date we're counting down to
			
			var countDownDate = new Date("Jan 5, 2021 15:37:25").getTime();

			// Update the count down every 1 second
			var x = setInterval(function() {

			// Get today's date and time
			var now = new Date().getTime();
				
			// Find the distance between now and the count down date
			var distance = countDownDate - now;
				
			// Time calculations for days, hours, minutes and seconds
			  var days = "{{durationDays[ns.found]}}";
			  var hours = "{{durationHours[ns.found]}}";
			  var minutes ="{{durationMinutes[ns.found]}}";
			  var seconds = "{{durationSec[ns.found]}}";
				
			
			
			// Output the result in an element with id="demo"
			
				document.getElementById("demo{{loop.index0|string}}{{subjectLoop.index0|string}}").innerHTML = days + "d " + hours + "h "
			+ minutes + "m " + seconds + "s ";
			
			// If the count down is over, write some text 
			if (distance < 0) {
				clearInterval(x);
				document.getElementById("demo").innerHTML = "EXPIRED";
			}
			}, 1000);
			</script>
			{% endif %}
	{% endif %}
	{% endfor %}
{% endfor %}

  </body>

  <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.2.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
	 https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.2.0/firebase-messaging.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.0/firebase-analytics.js"></script>


<script>
	if ('serviceWorker' in navigator) {
	  window.addEventListener('load', () => {
		navigator.serviceWorker.register('/firebase-messaging-sw.js');
	  });
	}
  </script>

<script>
  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  var firebaseConfig = {
    apiKey: "AIzaSyA8Y_zpTnRccyZLiOZAp4JSzYDvbL7GRoc",
    authDomain: "spectrum-x12.firebaseapp.com",
    projectId: "spectrum-x12",
    storageBucket: "spectrum-x12.appspot.com",
    messagingSenderId: "872952239821",
    appId: "1:872952239821:web:912cc50d81b18ab5677b84",
    measurementId: "G-QXGGQCF1XD"
  };

  
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();

  const messaging = firebase.messaging();
  messaging.useServiceWorker()
  messaging.getToken({vapidKey: 'BFys_Kb9-tr--_hc9fpBS6qKQg5nSe4vemrL6HJjJjBEzgpU1zMICUlADZo7EWowvA2Pf-7jZckmHEC_uQizbWg'}).then((currentToken) => {
  if (currentToken) {
    sendTokenToServer(currentToken);
    updateUIForPushEnabled(currentToken);
  } else {
    // Show permission request.
    console.log('No registration token available. Request permission to generate one.');
    // Show permission UI.
    updateUIForPushPermissionRequired();
    setTokenSentToServer(false);
  }
}).catch((err) => {
  console.log('An error occurred while retrieving token. ', err);
  showToken('Error retrieving registration token. ', err);
  setTokenSentToServer(false);
});
	
			
	
</script>
</html>
